.modal__submit {
  width: 140px;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.modal__submit:hover:enabled {
  opacity: 0.85;
}

/*  DISABLED STATE */
.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  opacity: 1; /* prevent hover fade */
}
