.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

/*.toggle-switch:hover {
  color: red;
  background-image: url("../assets/icon-switch.svg");
  /*background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;*/

.toggle-switch__checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  right: -2px;
  left: unset;
}

.toggle-switch__value {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  font-family: Cabinet Grotesk, sans-serif;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_right {
  color: #ffff;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: #ffff;
}
