.card {
  width: 325px;
  height: 328px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  background: rgba(255, 255, 255, 1);
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
