.weather-card {
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__temp {
  position: absolute;
  bottom: 20px;
  left: 16px;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  line-height: 1.1;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0%;
  vertical-align: middle;
}
