.header {
  display: flex;
}

.header__logo {
  margin-right: 24px;
}

.header__datetime {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  navigation: "Add clothes popup";
  animation: Instant;
  animation-duration: 0ms;
  color: rgba(0, 0, 0, 1);
  border: none;
  background-color: white;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__username {
  margin-right: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__place {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
