.modal {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.modal__image {
  display: block;
  width: 498px;
  height: 498px;
  top: 106px;
  left: 471px;
  border-radius: 20px 0 0 0px;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  width: 20px;
  height: 20px;
  padding: 40px 40px 0 0;

  transform: rotate(-180deg);
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s ease;
}

.modal__close-btn:hover {
  color: black;
}

.modal__footer {
  background-color: #fff;
}

.modal__text {
  margin: 0;
  margin-left: 10px;
}

/* Form styles */

.modal__container_type_form {
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  background-color: #fff;
}

.modal__title {
  margin: 0;
  margin-bottom: 16px;
  width: 95px;
  height: 20px;
  top: 221px;
  left: 500px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.modal__input {
  display: block;
}

.modal__fieldset {
  padding: 0;
  border: none;
  top: 16px;
}

.modal__close-btn_type_form {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  padding-top: 48px;
  padding-right: 42px;
  font-size: 24px;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s ease;
  border: 2px;
  color: solid rgba(68, 67, 67, 0.151);
  transform: rotate(-180deg);
}

.modal__input {
  border: none;
  border-bottom: 2px solid #000;
  width: 490px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.modal__label {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__radio-btn {
  margin-top: 16px;
  margin-right: 8px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__submit-btn {
  margin-top: 16px;
  width: 124px;
  height: 36px;
  opacity: 1;
  border-radius: 4px;
  gap: 8px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__submit-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__submit-btn:disabled {
  background: rgba(0, 0, 0, 0.3);
}

.modal__fieldset {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
