/* TODO - finish styling the sidebar elements (done?) */
.sidebar {
  min-width: 229px;
}

.sideBar__row {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;

  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
