.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 204px;
  margin-bottom: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
}
